.card {
    width: 300px;
    padding: 5px;
}

.wrapper {
    display: flex;
    width: 930px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.header-title {
    margin: 5px;
}

.image-wrapper {

}

.header-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.image {
    width: 300px;
}

.content {
    margin: 10px;
}